// Custom styles.
.post {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 25px;
	-webkit-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 11px 2px rgba(0,0,0,0.3);
}
.post-button {
    margin-top: 30px;
    text-align: center;
}
.post-button .btn {
    color: #fff;
    font-size: 15px;
    background: #686868;
    border-radius: 16px;
    line-height: 2;
    margin: 0 4px 8px 4px;
    padding: 0 20px;
}
.post-button a{
  border-bottom: 1px solid #666;
}
.post-button a:hover {
    color: #7784ba;
}
body {
    background:url(http://orujzh93n.bkt.clouddn.com/ilya-pavlov-87438.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:bottom center;
}
.main-inner { 
	margin-top: 60px;
    padding: 80px 80px 80px 80px;
    min-height: 500px;
	background:rgba(#fff,100%) none repeat scroll !important;
}
.content {
	background:rgba(#fff,100%) none repeat scroll !important;
}
#sidebar {
    background:url(http://orujzh93n.bkt.clouddn.com/emile-perron-190221.jpg);
    background-size: cover;
    background-position: left;
    background-repeat:no-repeat;
    p,span,a {color: #F7F7F7;}
}